{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/post_car.css' %}">
</head>
<body>
{% include 'home/base.html' %}
<div class="form-container">
    <form class="car-form" method="POST" action="{% url 'add' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="name" class="form-input" placeholder="Name">
        <input type="number" min="1900" max="2099" step="1" value="2016" id="id_year">
        {{ car.company }}
        {{ car.body_type }}
        {{ car.engine_type }}
        <input type="file" name="image" accept="image/*" id="id_image">
        <textarea name="description" style="resize: none;" class="form-input" cols="30" rows="10" id="id_description" placeholder="Description"></textarea>
        <input type="text" name="horsepower" class="form-input" placeholder="Horsepower">
        <input type="text" name="price" class="form-input" placeholder="Price">
        <button type="submit" class="form-button">Add</button>
    </form>
</div>
</body>
</html>
