{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_style.css' %}">
</head>
<body>
<nav class="navbar">

    <a class="navbar-brand" href="{% url 'home' %}">Phoenix.com</a>
    <ul class="navbar-menu">
        <li class="nav-item"><a href="{% url 'models' %}">Super Cars</a></li>
        <li class="nav-item"><a href="{% url 'cars' %}">Cars For Sale</a></li>
        <li class="nav-item"><a href="{% url 'Manufacturers' %}">Car Manufacturer</a></li>
        <li class="nav-item"><a href="{% url 'news:news' %}">News</a></li>
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'add' %}">Post an Ad</a></li>
        <li class="nav-item"><a href="{% url 'account' %}">{{ user.username }}</a></li>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
        </form>
        {% else %}
        <li class="nav-item"><a href="{% url 'login' %}">Sing in</a></li>
        {% endif %}
    </ul>
</nav>
</body>
</html>